@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('./style.css');

* {
  font-family: Poppins;
}

@keyframes slideMenuAnimation {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}

.nav {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100px;
  height: 100%;
  margin-top: 60px;
  background-color: var(--gold);
  border-right: 1px solid #e4e5e7;
  z-index: 20;
}

.canvas-actions {
  /* background-color: var(--lighter); */
  border: 1px solid var(--lighter);
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.canvas-action {
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  color: var(--gray-light);
  transition: ease-out 0.2s all;
  user-select: none;
}

.canvas-action:hover {
  color: var(--gray-dark);
}

.header {
  position: absolute;
  top: 0;
  left: 100px;
  right: 0;
  height: 66px;
  background-color: var(--white);
  z-index: 21;
  border-bottom: 1px solid #e4e5e7;
  min-width: 1100px;
}

.header-elements {
  display: flex;
  justify-content: space-between;
  margin-inline: 14px 25px;
  align-items: center;
  height: 63px;
}

.setting-switch {
  display: flex;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light);
  -webkit-transition: ease-out 0.1s all;
  transition: ease-out 0.1s all;
}

.switch-slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: ease-out 0.1s all;
  transition: ease-out 0.1s all;
}

.switch-slider.round {
  border-radius: 32px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

input:checked + .switch-slider {
  background-color: var(--gold);
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px var(--gold);
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider {
  appearance: none;
  background: var(--light);
  height: 4px;
  border-radius: 5px;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--gold);
  border: 2px solid var(--white);
  border-radius: 100%;
}
.slider::-webkit-slider-thumb:hover {
  background-color: var(--gold-darker);
}

.nav-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 18px 0;
  height: 72%;
}

.nav-title {
  color: var(--white);
  user-select: none;
  font-size: 14px;
}

.nav-items {
  display: block;
  width: 100%;
}

.nav-item {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding: 18px;
  letter-spacing: -0.3px;
  transition: ease-out 0.2s all;
}

.nav-item:hover {
  background-color: var(--gold-darker);
}

.nav-item:focus {
  background-color: var(--gold-darker);
}

.search-icon-category-text {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  color: var(--gray);
  transition: ease-out 0.12s all;
}

.search-icon-category-text:hover {
  color: var(--gray-lighter);
}

#clip-icon:hover {
  opacity: 0.7;
  transition: 0.12s all ease-out;
  cursor: pointer;
}

.icon-container {
  font-size: 20px;
  color: var(--white);
}

.top-nav-container {
  display: flex;
  gap: 50px;
}

.input-box {
  width: 250px;
  display: inline-block;
  position: relative;
  display: block;
}

.slogan-text-box {
  width: 250px;
  display: inline-block;
}

.form-control {
  height: 20px;
  border-width: 0 0 2px;
  border-color: var(--gray-dark);
  background-color: var(--white);
  padding: 22px 5px 10px 40px;
  width: 100%;
  color: var(--gray);
}

.editor-container {
  position: absolute;
  top: 75px;
  left: 370px;
}

.btn-main {
  background-color: #c1a247;
  outline: none;
  border: none;
  color: var(--white);
  font-size: 14px;
  height: 40px;
  min-width: 130px;
  width: max-content;
  padding: 8px 16px;
  border-radius: 3.5px;
  transition: 0.2s ease-in-out all;
}

.btn-main:hover {
  background-color: var(--gold-darker);
}

.settings-view {
  width: 260px;
  padding-right: 4px;
  height: 100%;
  background: var(--white);
  position: absolute;
  top: 0;
  left: 100px;
  border-right: 1px solid var(--light);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.settings-view::-webkit-scrollbar {
  width: 8px;
}

.settings-view::-webkit-scrollbar-track {
  background: var(--lighter);
}

.settings-view::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--light);
}

.setting-container {
  margin-top: 80px;
  display: grid;
  margin-left: 20px;
  gap: 22px;
  margin-bottom: 30px;
  justify-content: flex-start;
  animation: slideMenuAnimation 0.2s ease-out both;
}

.text-settings-container {
  margin-top: 100px;
  margin-bottom: 50px;
  display: grid;
  margin-left: 20px;
  gap: 20px;
  justify-content: flex-start;
  animation: slideMenuAnimation 0.2s ease-out both;
}

.text-settings-container::-webkit-scrollbar {
  width: 8px;
}

.text-settings-container::-webkit-scrollbar-track {
  border-radius: 4px;
  background: var(--light);
}

.text-settings-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.slider-container {
  /* width: 200px; */
  width: 100%;
  /* margin-inline: 20px; */
  margin-bottom: 5px;
}

.layers {
  height: 188px;
  margin-top: 17px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.layer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  font-weight: 500;
  border-radius: 5px;
  gap: 10px;
  margin-block: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.layer-container:hover .layer-img {
  border: 2px solid var(--gold);
}

.layer-container:hover .layer-span {
  color: var(--lighter);
  background: var(--gold-light);
  padding: 7px;
  border-radius: 3px;
}

.layer-span.selected {
  color: var(--lighter);
  background: var(--gold);
  padding: 7px;
  border-radius: 3px;
}

.layer-span {
  font-size: 14px;
  color: var(--gray);
  width: 90px;
  transition: 0.2s ease-out all;
}

.layer-span {
  font-weight: 500;
}

.layer-img {
  object-fit: scale-down;
  width: 28px;
  height: 28px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--light);
  transition: 0.2s ease-out all;
}

.layer-img.selected {
  border: 2px solid var(--gold);
}

.layers::-webkit-scrollbar {
  width: 10px;
}

.layers::-webkit-scrollbar-track {
  border-radius: 4px;
  background: var(--lighter);
}

.layers::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--light);
}

.color-picker-container {
  display: flex;
  align-items: center;
  gap: 10px;
  /* border: 1.5px solid transparent; */
  border-radius: 5px;
  width: 195px;
  height: 32px;
  transition: ease-out 0.2s all;
}

.color-picker {
  background: none;
  outline: none;
  border: none;
  width: 42px;
  height: 42px;
  padding: 0;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  padding: 0;
  /* border: 2px solid var(--white); */
  border-radius: 5px;
  transition: 0.15s ease-out all;
}

/* .color-picker::-webkit-color-swatch:hover {
  border: 0px transparent;
} */

.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.input-main {
  border-radius: 5px;
  border: 1.5px solid #aaa;
  background-color: #ffffff;
  outline: none;
  padding: 5px 7px;
  width: 180px;
  transition: ease-in-out 0.3s all;
}

.input-main:focus {
  border: 1.5px solid var(--gold);
  /* box-shadow: 0px 0px 4px #c1a34796; */
}

.color-picker-container > span {
  color: var(--gray);
  cursor: context-menu;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  background-color: #f5f5f5;
  padding: 7px;
  text-transform: uppercase;
}

#clip-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 70px;
  justify-content: center;
  margin-top: 50px;
}

#icon-search-input {
  width: 400px;
}

#clip-icon {
  width: 32px;
  height: 32px;
  color: var(--gray-light);
}

.setting-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5px;
  user-select: none;
}

.font_style-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5px;
  user-select: none;
}

.setting-list-item__title {
  font-size: 14px;
  background-color: var(--lighter);
  border: 1px solid transparent;
  font-weight: 500;
  width: 175px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  transition: 0.2s ease-out all;
}
.font_style-item__title {
  font-size: 14px;
  background-color: var(--lighter);
  border: 1px solid transparent;
  font-weight: 500;
  width: 175px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  transition: 0.2s ease-out all;
}

.setting-list-item__title:hover {
  background-color: var(--light);
}

.font_style-list-item__title:hover {
  background-color: var(--light);
}

.case-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5px;
  user-select: none;
}

.case-list-item__title {
  font-size: 14px;
  background-color: var(--lighter);
  border: 1px solid transparent;
  font-weight: 500;
  width: 175px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  transition: 0.2s ease-out all;
}

.font_style-list-item__title {
  font-size: 14px;
  background-color: var(--lighter);
  border: 1px solid transparent;
  font-weight: 500;
  width: 175px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  transition: 0.2s ease-out all;
  text-transform: capitalize;
}

.font_size-list-item__title {
  font-size: 14px;
  background-color: var(--lighter);
  border: 1px solid transparent;
  font-weight: 500;
  width: 175px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  transition: 0.2s ease-out all;
}

.font_size-list-item__title:hover {
  background-color: var(--light);
}

.case-list-item__title:hover {
  background-color: var(--light);
}

.font-selector-title {
  font-size: 14px;
  background-color: var(--lighter);
  border: 1px solid transparent;
  font-weight: 500;
  width: 175px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
  transition: 0.2s ease-out all;
  cursor: context-menu;
}

.font-selector-title:hover {
  background-color: var(--light);
}

.color-mode-title {
  font-size: 14px;
  /* background-color: var(--lighter); */
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  width: 175px;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--gray-light);
  transition: 0.2s ease-out all;
  cursor: context-menu;
}

/* .color-mode-title:hover {
  background-color: var(--light);
} */

.color-mode-list {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--gray-dark);
  position: absolute;
  visibility: hidden;
  display: none;
  animation: menuforward 0.15s ease-out both;
  z-index: 20;
}

.font_size-selector-list {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--gray-dark);
  position: absolute;
  visibility: hidden;
  display: none;
  animation: menuforward 0.15s ease-out both;
}

.font-selector-list {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--gray-dark);
  position: absolute;
  visibility: hidden;
  display: none;
  animation: menuforward 0.15s ease-out both;
}

.font-selector-list.show {
  visibility: visible;
  display: block;
}

.color-mode-list.show {
  visibility: visible;
  display: block;
}

.font_style-list-items-li {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--gray-dark);
  position: absolute;
  margin-top: 30px;
  visibility: hidden;
  display: none;
  animation: menuforward 0.15s ease-out both;
}

.setting-list-items-li {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--gray-dark);
  position: absolute;
  margin-top: 30px;
  visibility: hidden;
  display: none;
  animation: menuforward 0.15s ease-out both;
}

.case-list-items-li {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--gray-dark);
  position: absolute;
  margin-top: 30px;
  visibility: hidden;
  display: none;
  animation: menuforward 0.15s ease-out both;
}

.font_style-list-items-li {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--gray-dark);
  position: absolute;
  margin-top: 30px;
  visibility: hidden;
  display: none;
  animation: menuforward 0.15s ease-out both;
}

.font_size-list-items-li {
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
  margin-top: 0px !important;
  border-radius: 5px;
  color: var(--gray-dark);
  position: absolute;
  margin-top: 30px;
  visibility: hidden;
  display: none;
  animation: menuforward 0.15s ease-out both;
  height: 200px;
  overflow-y: scroll;
}

.font_size-list-items-li::-webkit-scrollbar {
  width: 8px;
}

.font_size-list-items-li::-webkit-scrollbar-track {
  background: var(--lighter);
}

.font_size-list-items-li::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--light);
}

.setting-list-items-li.show {
  visibility: visible;
  display: block;
}

.font_size-list-items-li.show {
  visibility: visible;
  display: block;
}

.case-list-items-li.show {
  visibility: visible;
  display: block;
}

.font_style-list-items-li.show {
  visibility: visible;
  display: block;
}

@keyframes menuforward {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

.color-mode-list > li {
  padding: 5px 10px;
  list-style: none;
  font-size: 14px;
  width: 175px;
  margin: 2px 0;
  color: var(--gray-dark);
  cursor: pointer;
}
.setting-list-items-li > li {
  padding: 5px 10px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  width: 175px;
  margin: 2px 0;
  color: var(--gray-dark);
}
.font_size-list-items-li > li {
  padding: 5px 10px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  width: 175px;
  margin: 2px 0;
  color: var(--gray-dark);
}
.case-list-items-li > li {
  padding: 5px 10px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  width: 175px;
  margin: 2px 0;
  color: var(--gray-dark);
}
.font_style-list-items-li > li {
  padding: 5px 10px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  width: 175px;
  margin: 2px 0;
  color: var(--gray-dark);
}

.font_size-list-items-li > li:hover {
  background-color: var(--light);
}
.color-mode-list > li:hover {
  background-color: var(--light);
}
.setting-list-items-li > li:hover {
  background-color: var(--light);
}
.case-list-items-li > li:hover {
  background-color: var(--light);
}
.font_style-list-items-li > li:hover {
  background-color: var(--light);
}

.font-selector-list > li {
  padding: 5px 10px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  width: 175px;
  margin: 2px 0;
  color: var(--gray-dark);
}

.font-selector-list > li:hover {
  background-color: var(--light);
}

.back-to-main {
  cursor: pointer;
}
.back-to-main:hover {
  opacity: 0.8;
}

.magnifier-container {
  position: absolute;
  bottom: 30px;
  left: 440px;
  outline: 1.5px solid var(--light);
  /* border: 1px solid #ccc; */
  /* box-shadow: 0px 0px 10px #5555552f; */
  /* background-color: var(--lighter); */
  border-radius: 8px;
  overflow: hidden;
}

#zoom-slider {
  z-index: 20;
  transform: rotate(180deg);
}

.zoom-slider {
  appearance: none;
  background: var(--light);
  height: 5px;
  border-radius: 5px;
  width: 100%;
}

.zoom-slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--white);
  border: 1.5px solid var(--light);
  border-radius: 100%;
}
.zoom-slider::-webkit-slider-thumb:hover {
  background-color: var(--lighter);
}

.setting-item > span {
  color: #62646a;
  font-size: 14px;
  font-weight: 500;
}

.setting-switch > span {
  color: #62646a;
  font-size: 14px;
  font-weight: 500;
}

.layer-specific-settings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: -15px;
  margin-left: -13px;
}

.specific-setting {
  color: var(--gray-lighter);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease-out 0.2s all;
}

.specific-setting-label {
  font-size: 10.5px;
  font-weight: 600;
  color: var(--gray-lighter);
  opacity: 0;
  transition: ease-out 0.2s all;
  margin-top: 5px;
}

.specific-setting:hover {
  color: var(--gold);
  margin-top: -5px;
}

.specific-setting:hover .specific-setting-label {
  color: var(--gold);
  opacity: 1;
}

.bg-settings-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-around; */
  margin-left: 0px;
  animation: slideMenuAnimation 0.2s ease-out both;
}

.uploads-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: slideMenuAnimation 0.2s ease-out both;
  gap: 25px;
}

.color-palette-gradient {
  width: 26px;
  border-radius: 5px;
  height: 220px;
  background: linear-gradient(0deg, #000, #000);
  transform: rotate(90deg);
  border: 0.05px solid #555;
}

.preview-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000bb;
  z-index: 50;
  display: none;
}

.preview-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preview-image {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.logo-new {
  width: 900px;
  height: 550px;
  object-fit: cover;
}

#left-arrow:hover {
  opacity: 0.7;
  transition: ease-out 0.2s all;
  cursor: pointer;
}

#right-arrow:hover {
  opacity: 0.7;
  transition: ease-out 0.2s all;
  cursor: pointer;
}

.btn.btn-purple,
.btn-purple.downloader-buttons-premium-zip-button,
.btn-purple.modal-downloader-premium-zip-show-button {
  background-color: var(--gold);
  box-shadow: 0 6px 20px 0 rgba(183, 134, 239, 0.4);
}

#btn-add-clipart-or-text[_v-598ca62e] {
  width: 40px;
  height: 40px;
  padding: 10px;
  float: right;
  margin-top: 20px;
  left: calc(-70px + 90px);
  position: absolute;
  display: block;
  z-index: 1;
}

.btn,
.downloader-buttons-premium-zip-button,
.modal-downloader-premium-zip-show-button {
  font-size: 16px;
  padding: 10px 25px;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  line-height: 1.3;
  cursor: pointer;
  text-decoration: none !important;
  text-transform: none;
  letter-spacing: 0;
  height: 40px;
  background-color: var(--gold);
  box-shadow: 0 6px 20px 0 rgba(122, 181, 249, 0.4);
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:hover,
.downloader-buttons-premium-zip-button:hover,
.modal-downloader-premium-zip-show-button:hover {
  background-color: var(--gold);
  opacity: 0.8;
}

.popup {
  height: 100vh;
  display: flex;
  align-items: center;
}

#popup-parent {
  display: none;
}

.popup-box {
  display: block;
  position: relative;
  background-color: #f3f5f8;
  border-radius: 5px;
  width: 200px;
  height: 280px;
  min-width: 500px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}
.item-title {
  transition: ease-out 0.2s all;
}

.item-title:hover {
  opacity: 0.7;
}

#popup-parent-icons {
  display: none;
}

.svg__icon {
  width: 80px;
  height: 80px;
  color: #797979;
  background-color: #eee;
  padding: 15px;
  border-radius: 6px;
  transition: 0.2s all ease-out;
  user-select: none;
}

.svg__icon:hover {
  background-color: #ddd;
}

.right-bar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  border: 1px solid #ddd;
  width: 250px;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

#back-main {
  margin-left: 120px;
  font-size: 25px;
  color: #555;
  cursor: pointer;

  transition: ease-out 0.2s all;
}

#back-main:hover {
  color: var(--gold);
}

.solid_color_section {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.solid_color_section:hover {
  opacity: 0.7;
}

.solid_color_section:last-child {
  border-radius: 0 5px 5px 0;
}
.solid_color_section:first-child {
  border-radius: 5px 0 0 5px;
}

.category {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-light);
  cursor: pointer;
}

.category:hover {
  color: var(--gray-dark);
}

.category_selected {
  color: var(--gold);
  padding-bottom: 9px;
  border-bottom: 2.5px solid var(--gold);
}

.hslPalette {
  width: 100%;
  border: 1.5px solid #ddd;
  text-align: center;
  font-weight: 600;
  color: #555;
}

.preview_image_wrapper {
  background-image: url('/static/wall.png');
  width: 1000px;
  height: 700px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview_image {
  object-fit: contain;
  max-width: 600px;
  max-height: 600px;
  margin-top: -200px;
  margin-left: 30px;
}

canvas#c {
  max-width: 100%;
  height: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#canvasContainer {
  width: 100%;
  height: 100%;
}

.color_mode_title {
  color: #555;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 12px;
}

.color_mode_title:hover {
  color: var(--gold);
  cursor: pointer;
  border-bottom: 2px solid var(--gold);
}

.color_mode_title-active {
  border-bottom: 2px solid var(--gold);
}
.none-icon {
  margin-block: 10px;
}

.none-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.font_size {
  margin-inline: 10px;
  width: 40px;
  text-indent: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #555;
  font-weight: 600;
  background-color: #eeeeee;
}

.arrow_icons {
  font-size: 12px;
  color: #555;
}

.arrow_icons:hover {
  opacity: 0.5;
}

